.container {
    margin-top: 50px;
    height: 549px;
    padding: 10px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: rgba(211, 211, 211, 0.568);
    border-radius: 80px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
    border-radius: 80px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(236, 188, 55);
    border-radius: 60px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 149, 40);
  }