body {
    background-image: url("../img/galaxy3.jpg");
    height: 100%;
    //background-position: center;
    //background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}